[submodule "content/posts/write-ups"]
	path = content/posts/write-ups
	url = https://github.com/UofTCTF/write-ups
[submodule "themes/terminal"]
	path = themes/terminal
	url = https://github.com/panr/hugo-theme-terminal.git
