{{ define "main" }}
  {{ if .Content }}
    <div class="index-content {{ if .Params.framed -}}framed{{- end -}}">
      {{ .Content }}
    </div>
  {{ end }}
  <img src="/img/UofTCTF_icon.png" alt="logo" height="200" width="200">
  <h3>This is the website of University of Toronto's CTF team.</h3>
  <h2>CTF stands for capture the flag.</h2> <a href="/about">it is a contest in cybersecurity.</a>
  <p>Future events will be post here.</p>

  <p><em>Cybersci 2022</em>: 4th in Canada, 3rd in Toronto region</p>
{{ end }}
